
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='home__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}


 {% endblock %}

 {% block content %}

<div class="content">

   <p>Refill Time {{ refill_time }} days</p>


  <div class="value-div"></div>
  <div class="avg-div"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
  <script type=text/javascript src="{{url_for('static', filename='home__script.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='appbar.js') }}"></script>


  </div>


{% endblock %}
