{% macro appBar(menu_items, view_name) -%}


<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
   <div id='app-bar' class="list-group-item list-group-item-action bg-light ">

     <span class='fas fa-bars'></span>
     <span id='menu'>{{ view_name }}</span>


    </div>

    <div id ='menu-items'>
     {% for item in menu_items %}
        <a href='{{ item.href }}' class="list-group-item list-group-item-action bg-light">{{ item.text }}</a>
    {% endfor %}
    </div>

  </div>
</div>


{%- endmacro %}
