{% import 'macros.html' as macros %}

{% extends '/main.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
     <link href="{{url_for('static', filename='settings__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}





 {% block body %}

 {{ macros.appBar(menu_items, view_name, '#2A6D87') }}


 <!-- messages for button presses -->
 <div id ='refill-message' class="alert-box success">
   <!-- <div class="alert" role="alert"> -->
       Reset Water Level
       <span aria-hidden="true">&times;</span>
     <!-- </div> -->
 </div>


 <p>Refill Time {{ refill_time }} days</p>


<form action="/settings" method="post" novalidate>
{{ form.hidden_tag() }}


<h3>Widget Settings</h3>
<hr>

<div>
{{ form.reservoir_size.label }}<br>
{{ form.reservoir_size(value=settings['reservoir_size']) }} ml<br>
{% for error in form.reservoir_size.errors %}
<p style="color: red;"> {{ error }} </p>
{% endfor %}
<a id='reset-water-level' >Reset Water Level</a>

</div>
{{ form.consumption.label }}<br>
{{ form.consumption(value=settings['consumption']) }} ml<br>
{% for error in form.consumption.errors %}
<p style="color: red;"> {{ error }} </p>
{% endfor %}

{{ form.reservoir_warn_level.label }} <br>
{{ form.reservoir_warn_level(value=settings['reservoir_warn_level']) }} %<br>
{% for error in form.reservoir_warn_level.errors %}
<p style="color: red;"> {{ error }} </p>
{% endfor %}
{{ form.reservoir_warn_level.error }}

{{ form.activation_level.label }}  {{ activation_level }} %<br>
{{ form.activation_level(value=settings['activation_level']) }}<br>


<hr>

<h3>Prediction Settings</h3>
<hr>
<p>
{{ form.location.label }}<br>
{{ form.location(value=settings['location']) }}<br>

{% for error in form.location.errors %}
<p class='validation-error' style='color:red;'> {{ error }} </p>
{% endfor %}

{{ form.api_key.label }}<br>
{{ form.api_key(value=settings['api_key']) }}


{{ form.submit }}

</form>

<form action="/reset_water_level" method='POST' novalidate>
{{form.reset_water_level}}
</form>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='appbar.js') }}"></script>

<script type=text/javascript src="{{url_for('static', filename='settings__script.js') }}"></script>



{% endblock %}
