{% import 'macros.html' as macros %}

{% extends '/main.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
     <link href="{{url_for('static', filename='settings__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}



 {% block body %}

 {{ macros.appBar(menu_items, view_name) }}


<form action="/settings" method="post" novalidate>
{{ form.hidden_tag() }}
<p>
{{ form.reservoir_size.label }}<br>
{{ form.reservoir_size(value=settings['reservoir_size']) }}<br>
{{ form.consumption.label }}<br>
{{ form.consumption(value=settings['consumption']) }}<br>
{{ form.reservoir_warn_level.label }}<br>
{{ form.reservoir_warn_level(value=settings['reservoir_warn_level']) }}<br>

{{ form.activation_level.label }}<br>
{{ form.activation_level(value=settings['reservoir_warn_level']) }}<br>
</p>

<p>
{{ form.location.label }}<br>
{{ form.location(value=settings['location']) }}<br>
</p>
{{  form.submit  }}

</form>

<form action="/reset_water_level" method='POST' novalidate>
{{form.reset_water_level}}
</form>

<form action="/calculate_refill" method='POST' novalidate>
{{form.calculate_refill}}
</form>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='appbar.js') }}"></script>

<script type=text/javascript src="{{url_for('static', filename='settings__script.js') }}"></script>



{% endblock %}
