{% import 'macros.html' as macros %}

{% extends 'main.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
{% endblock %}


{% block header %}

 {{ macros.appBar() }}

 {% endblock %}

 {% block body %}



  <div class="value-div"></div>
  <div class="avg-div"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
  <script type=text/javascript src="{{url_for('static', filename='scriptTest.js') }}"></script>


{% endblock %}
