{% extends 'flask_user/_public_base.html' %}

{% block menu %}

{% endblock %}

{% block content %}

<!-- Sidebar -->
 <div class="bg-light border-right" id="sidebar-wrapper">
   <div class="list-group list-group-flush">
      <a id='menu' class="list-group-item list-group-item-action bg-light">Menu</a>
     <a id='restart-item' class="list-group-item list-group-item-action bg-light">Restart</a>
     <div id='activation-level-item'>
     <div id='range-div' class="list-group-item list-group-item-action bg-light">
       <div style='float:left;'>Pump Activation </div>
       <div id='range-value'></div>
       <input id="activation-input" type="range" min ='0' max='100'></input>
     </div>
     </div>
   </div>
 </div>
 <!-- /#sidebar-wrapper -->

  <div class="value-div"></div>
  <div class="avg-div"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
  <script type=text/javascript src="{{url_for('static', filename='scriptTest.js') }}"></script>

{% endblock %}
