body
{
  background: #191717;
  color: white;
}

#menu-items
{
  display: none;
}


.alert-box {
	padding: 15px;
  width:100%;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 1;
    position: relative;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
    position: absolute;
}
input
{
  color:black;
}
